body{
    padding: 0;
    margin: 0;
    /* background: url(""); */
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.weather_app{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.h1{
    margin: 0;
    padding: 0;
    text-align: centre;
    font-size: 22px;
}

input[type="text"]
{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.weather_app input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    height: 40px;
    background: #22a0d1;
    color:#fff;
    font-size : 18px;
    border-radius:20px;
}

.weather_app input[type="submit"]:hover{
    cursor:pointer;
    background: #ffc107;
    color:#000;
}

.weather_app label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

  * { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}  
